<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurant catalogue for you">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#FF7800"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Restgo</title>
</head>
<body>
  <a href="#mainContent" class="skip-to-content">Go to content</a>

  <header class="app-bar">
    <div class="app-bar__menu">
      <a href="#" id="hamburgerButton" class="app-bar__toggle" aria-label="Humberger button">☰</a>
    </div>
    <div class="app-bar__brand">
      <h1>Restgo</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/list">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="http://jovanka-samudra.vercel.app/" target="_blank" rel="noreferrer">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero">
    <picture>
      <source media="(max-width: 600px)" srcset="./images/heros/hero-image_2-small.jpg">
      <img 
        src='./images/heros/hero-image_2-large.jpg' 
        alt="Jumbotron Element" class="jumbotron lazyload"></img>
    </picture>
  </div>
  <main id="mainContent" tabindex="0"></main>
  <footer>
    <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/" target="_blank" rel="noreferrer">Restaurant API Dicoding</a></p>
  </footer>
</body>
</html>