@media screen and (min-width: 640px) {
  .restaurants {
    grid-template-columns: 1fr 1fr;
  }

  .restaurant {
    grid-template-columns: auto 1fr;
  }

  .restaurant .restaurant__name {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .restaurant .restaurant__info {
    grid-row: span 2 / span 2;
  }
}

@media screen and (min-width: 768px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
    transform: scaleX(100%);
    background-color: transparent;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
  }

  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 850px) {
  .restaurants {
    grid-template-columns: repeat(3, 1fr);
  }

  .restaurant .restaurant__menus {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .restaurants {
    grid-template-columns: repeat(4, 1fr);
  }

  .hero {
    min-width: 1000px;
    height: 500px;
  }
}

@media screen and (min-width: 1600px) {
  .restaurants {
    grid-template-columns: repeat(5, 1fr);
  }
}